body{
    margin: 0;
    background-image: linear-gradient(45deg, powderblue, black);
    font-family: 'poppins';
    font-size: 15px;
    height: 1000px;
    
    color: white;
}
.container{
    position: relative;
    top: 56px;
}
/*.semicircle{
    transform: translate(-50%,-50%);
    height:950px;
    width: 100%;
    border-radius: 50px 50px 6 9;
    background-color: rgb(99, 255, 99);
    margin-left: 50%;
    margin-right: 50%;
    position: absolute;
    top: 650px;
    box-shadow: 0px 0px 30px grey;
    z-index: -1;
}*/
.whitebox{
    height: 900px;
    width: 50%;
    margin-left: 25%;
    position: absolute;
    top: -8px;
    background: rgba(10, 15, 50, 0.4);
border-radius: 30px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
border: 1px solid rgba(253, 244, 244, 0.3);

}
.logo{
    max-width: 80px;
    position: absolute;
    top: 20px;
    left: 290px;

}
h1{
    font-size:x-large ;
    position: relative;
}
p{

    font-size: small;
    float: left;
    margin-right: 220px;
    color: rgb(51, 51, 51);
    margin-left: 5px;
    
}
.content{
    position: absolute;
    top: 150px;
    left: 40px;
}
.labels{
    padding: 0 0 10px 0;
}

#sname
{
    margin-right: 80px;
}
.inputs{
    margin-bottom: 20px;
}
.gradiv
{
    position: relative;
    bottom: 87px;
    float: right;
    right: 90px;
}
.emaildiv{
    float: right;
    position: relative;
    bottom: 87px;
    right: 90px;
}
#sname{
    border-radius: 5px;
    height: 30px;
    width: 200px;
   

    background: rgba(244, 255, 205, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 244, 244, 0.3);
}

#lname{
    border-radius: 5px;
    height: 30px;
    width: 200px;
   

    background: rgba(244, 255, 205, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 244, 244, 0.3);
    
}
#age{
    border-radius: 5px;
    height: 30px;
    width: 200px;
   

    background: rgba(244, 255, 205, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 244, 244, 0.3);
}
#phn{
    border-radius: 5px;
    height: 30px;
    width: 200px;
   

    background: rgba(244, 255, 205, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 244, 244, 0.3);
}
#email{
    border-radius: 5px;
    height: 30px;
    width: 200px;
   

    background: rgba(244, 255, 205, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 244, 244, 0.3);

}
#grade{
    border-radius: 5px;
    height: 30px;
    width: 200px;
   

    background: rgba(244, 255, 205, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 244, 244, 0.3); 
}
.button {
    border-radius: 5px;
    background-color: #ff4cba;
    background-image: linear-gradient(45deg,rgb(243, 123, 143),rgb(184, 99, 184),rgb(113, 113, 184));
    backdrop-filter: blur(100px);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    height: 40px;
    margin-top: 20px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    bottom: 18px;
    font-size: 20px;

  }
  .d4{
    position: absolute;
    left: 290px;
    top: 350px;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

#label-role{
    display: block;
}
#role{
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    width: 200px;
   

    background: rgba(244, 255, 205, 0.1);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 244, 244, 0.3);
    margin-bottom: 20px;
}
.l1{
    margin-bottom: 20px;
}
#comment{
    display: block;
    margin-top: 20px;
    height: 70px;
    width: 520px;
   

    background: rgba(244, 255, 205, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(253, 244, 244, 0.3);

}
.commentdiv{
    margin-top: 20px;
}

.error { color: Red; }

#snamealert{
    position: absolute;
    top: 125px;
}
#lnamealert{
    position: absolute;
    left: 300px;
    top: 125px;

}
.inputs{
    width: 900px;
}
#agealert{
    position: absolute;
    top: 215px;

}
#gradealert{
    position: absolute;
    top: 60px;
}
.gradiv{
    left: 290px;
}
#phnalert{
    position: absolute;
    top: 60px;
}
#emailalert{
    position: absolute;
    top: 60px;
}
.phndiv{
    position: absolute;
}
.emaildiv{
    position: absolute;
    top: 240px;
    left: 290px;
}
#rolealert{
    position: absolute;
    top: 390px;
}
.commentdiv label{
    position: absolute;
    right: 835px;
    top: 435px;
}
.commentdiv textarea{
    position: absolute;
    top: 450px;
    right:370px;
}
.butdiv{
    position: absolute;
    top: 580px;
}
.e1 
{
    position: absolute;
    top: 605px;
    left: 400px;
}
.re2{
    border-radius: 5px;
    background-color: #ff4cba;
    background-image: linear-gradient(45deg,rgb(243, 123, 143),rgb(184, 99, 184),rgb(113, 113, 184));
    backdrop-filter: blur(100px);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px auto 20 auto;
    width: 200px;
    height: 40px;

}
.d4{
    left: 70px;
    top: 370px;
}