.fr{
    position: absolute;
    left: 40%;
}
.a1{
   
    position: relative;
    top: 140px;
    text-decoration: none;
    font-style: italic;
    font-family: "vibur",sans-serif;
    font-weight: bold;
    color: black;
   
}
.op1{
    position: absolute;
    left: 300px;
    top: 120px;
}
 .op2{
    position: absolute;
    left: 300px;
    top: 120px;
   }
.pd{
    position: absolute;
    left: 300px;
    top: 120px;
}
.y1{
    
    position: relative;
    
    height: 65px;
    background-image: linear-gradient(45deg, cornflowerblue, whitesmoke);
    box-shadow: 5px 4px 20px ;
}
.hh{
    top: -7px;
    left: 45%;
    position: absolute;

}
.im1{
    width: 1535px;
    height: 77.6px;
}
.b2{ 
    
    height: 693px;
    background-image: linear-gradient(45deg, cornflowerblue, whitesmoke);
    box-shadow: 5px 8px 20px ;
}

.a2{
    display: block;
    position: relative;
    top: 200px;
    text-decoration: none;
    font-style: italic;
    font-family: "vibur",sans-serif;
    font-weight: bold;
    color: black;
}
.a3{
    display: block;
    position: relative;
    top: 260px;
    text-decoration: none;
    font-style: italic;
    font-family: "vibur",sans-serif;
    font-weight: bold;
    color: black;
}
.b3{
    box-shadow: 5px 8px 20px ;


}
.i1{
    height: 690px;
    width: 100%;
    object-fit: cover;
}
.he1{
    position: absolute;
    top: 150px;
    left: 420px;
    text-shadow: 5px 3px 8px cornflowerblue;
}
.up1{
    height: 693px;
    background-image: linear-gradient(45deg, cornflowerblue, whitesmoke);
    box-shadow: 5px 8px 20px ;

}
.rp1{
    height: 693px;
    background-image: linear-gradient(45deg, cornflowerblue, whitesmoke);
    box-shadow: 5px 8px 20px ;
}
.pp1{
    height: 693px;
    background-image: linear-gradient(45deg, cornflowerblue, whitesmoke);
    box-shadow: 5px 8px 20px ;
}
.hdr1{
    float: right;
}